# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change_me_in_production_use_openssl_rand_hex_32

# NestJS API base URL (internal, used by NextAuth credentials provider)
API_URL=http://localhost:3001

# Public API URL (used by browser-side Axios)
NEXT_PUBLIC_API_URL=http://localhost:3001
